@model List<POS.Models.VehicleOutView>

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Vehicle Out List</h4>
                        <a asp-action="Create" class="btn btn-primary rounded"><i class="fa fa-plus"></i> Create</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table datatable table-bordered">
                                <thead >
                                    <tr>
                                        <th width="10%" class="text-center">SR</th>
                                        <th>Date & Time</th>
                                        <th>Employee</th>
                                        <th>Vehicle</th>
                                        <th width="20%" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <thead class="custom">
                                    <tr>
                                        <th class="p-1"><input type="text" class="form-control form-control-sm col-search" placeholder="Search SR" /></th>
                                        <th class="p-1"><input type="text" class="form-control form-control-sm col-search" placeholder="Search Date" /></th>
                                        <th class="p-1"><input type="text" class="form-control form-control-sm col-search" placeholder="Search Employee" /></th>
                                        <th class="p-1"><input type="text" class="form-control form-control-sm col-search" placeholder="Search Vehicle" /></th>
                                        <th class="p-1 text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int SR = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center">@SR</td>
                                            <td>@item.DateAndTime.ToString("dd-MMM-yyyy hh:mm tt")</td>
                                            <td>@item.EmployeeName</td>
                                            <td>@item.VehicleNo</td>
                                            <td class="text-center">
                                                @if (item.Status)
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary btn-sm" title="Edit">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-sm" title="Delete" onclick="return confirm('Are you sure you want to delete this record?')">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                }
                                                <a asp-action="Print" asp-route-id="@item.id" target="_blank" class="btn btn-info btn-sm" title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        SR++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
